<h1 class="signup-title">Create a new account</h1>
<div class= "signup-form">
  <form action="/auth/signup" method="POST">
    
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" required>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
      <label for="userName">Username</label>
      <input type="text" class="form-control" id="username" required>
    </div>

    <div class="form-group password">
      <div id="pass">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required>
      </div>
      <div id="pass_conf">
        <label id="password_conf_label" for="password_conf">Confirm Password</label>
        <input type="password" class="form-control" id="password_conf" >
      </div>
    </div>

    <div class="container">
      <h5 id="password-reqTitle">Password Requirements</h5>
      <h6 id="password-reqUl">
        <ul>
          <li>Must be 15 to 99 alphanumeric characters.</li>
          <li>Must contain at least one uppercase character.</li>
        </ul>  
      </h6>
    </div>  
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>