<div class="categories-menu">
    <h6 class="dropdown-header">Categories:</h6>
<!--     
        <% for(let i= 0; i < models.categories[i].length;i++){ %>
            <a class="dropdown-item" href="#"> <%=models.categories[i]%> </a>        
        <% } %>  -->
</div>