<section id="categories">
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Categories</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!-- Should populate more rows based off categories db -->
            <td>Example 1</td>
        </tr>
        <tr>
            <td>Example 2</td>
        </tr>
        </tbody>
    </table>
</section>	