<div class="container" id="homeLogin">
	<form class="form" action="/auth/login" method="POST">
		<div class="form-group">
			<div id="user_container">
				<label id="user_label" for="username" class="loginlabel">Login</label>
				<!-- user login  -->
				<input class="form-control" id="username" type="text" name="username" placeholder="email or user name"
					required>
			</div>
			<div id="pass_container">
				<label id="password_label" for="password" class="loginLabel">Password</label>
				<!-- user password -->
				<input type="password" class="form-control" id="password" name="password" required>
			</div>
			<button id="loginBtn" type="submit" class="btn btn-dark">Login</button>
		</div>
	</form>
	<a class="btn btn-dark" type="submit" href="/auth/signup" role="button" id="registerBtn">Register</a>
</div>