<div>
	<form action="/inquire/create/inquisition" method="GET" id="quick_form">
		<div class="form-group" id="quick">
		  <label for="quick_post" id="quick_post_label">Quick Post</label>
		  <input type="text" class="form-control" name="quickPost" id="quick_post">
		  <button type="submit" class="btn btn-primary" id="finalize">Finalize</button>
		</div>
	</form>
</div>