<div class="container-fluid">
	<div class="container" id="content_holder">
			<section>
				<form id="qQuestion" action="/ask" method="post">
					<div class="form-group">
						<label for="content"> Quick Question:</label>
						<textarea type="text" class="form-control" id="content"
							aria-describedby="content_help"></textarea>
						<small id="contentHelp" class="form-text text-muted">View our <a href="#">guidelines</a> to make
							a quality question.</small>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</section>
			<hr>
			<section id="categories">
				<div class="btn-group">
					<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
					categories
					</button>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
					<button class="dropdown-item" type="button">Example</button>
					</div>
				</div>
			</section>
			<section id="recent_questions">
				<header>
					<h3>Recent Questions</h3>
				</header>
				<article>
					<!-- Loop through the recent five posts -->
				</article>
			</section>
			<section id="recent_answers">
				<header>
					<h3>Recent Answers</h3>
				</header>
				<article>
					<!-- Loop through the recent five answers -->
				</article>
			</section>
			</hr>
		</main>
	</div>
</div>
