<div class="container-fluid">
	<div class="container" id="content_holder">
		<main>
			<!-- <section>
				<form id="qQuestion" action="/ask" method="post">
					<div class="form-group">
						<label for="content"> Quick Question:</label>
						<textarea type="text" class="form-control" id="content"
							aria-describedby="content_help"></textarea>
						<small id="contentHelp" class="form-text text-muted">View our <a href="#">guidelines</a> to make
							a quality question.</small>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</section> -->
			<div class="container">
				<form class="form" action="/auth/login" method="GET">
					<div class="form-group">
						<div id="user_container">
							<label id="user_label" for="user" class="loginlabel">Login</label>
							<!-- user login  -->
							<input class="form-control" id="user" type="text" name="user"
								placeholder="email or user name" required>
						</div>
						<div id="pass_container">
							<label id="password_label" for="password" class="loginlabel">Password</label>
							<!-- user password -->
							<input type="password" class="form-control" id="password" name="password" required>
						</div>
						<button type="submit" class="btn btn-dark" value=" ">Login</button>
					</div>
				</form>
				<button type="submit" class="btn btn-dark" id="registerbtn"><a href="/auth/signup">Register</a></button>
			</div>
			<hr>
			<section id="recent_questions">
				<header>
					<h3>Recent Questions</h3>
				</header>
				<article>
					<!-- Loop through the recent five posts -->
				</article>
			</section>
			<section id="recent_answers">
				<header>
					<h3>Recent Answers</h3>
				</header>
				<article>
					<!-- Loop through the recent five answers -->
				</article>
			</section>
		</main>
	</div>
</div>