html,
body {
	height: 100%;
	background-color: #8D98A7;
	color: antiquewhite;
}

#content_holder {
	display: inline-block;
	width: 1115px;
	height: 500px;
	padding-left: 228px;
}

textarea.form-control {
    height: 100px;
}

.container {
    width: 100%;
    padding: 20px 15px 0 15px;
    margin-right: auto;
    margin-left: auto;
}

#recent_questions {
    height: 200px;
    margin-top: 20px;
	background-color: #343a40;
}	

#recent_questions header {
	width: 250px;
}
#recent_answers {
	height: 200px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #343a40;
}

#qQuestion {
	margin-top: 100px;
}

#qQuestion div button {
	height: 30px;
	line-height: 0.5;
	position: relative;
	bottom: 20px;
	left: 797px;
}
#categories{
	display: flex;
	flex-direction: column;
	width: 250px;
	position: absolute;
	bottom: 45%;
	left: 1185px;
}
#user,
#password {
	width: 200px;
}
#password_label {
	margin-left: 10px;
}
#user_container,
#pass_container {
	display: inline-block;
}
#registerbtn {
	display: inline;
}
