html, body {
	height: 100%;
}

#content_holder {
	width: 679px;
}

#recent_questions {
	height: 200px;
	margin-top: 80px;
}

#recent_questions header {
	width: 250px;
}
#recent_answers {
	height: 200px;
	margin-top: 40px;
}

#qQuestion {
	margin-top: 100px;
}

#qQuestion div button {
	height: 30px;
	line-height: 0.5;
	position: relative;
	bottom: 20px;
	left: 570px;
}