html,
body {
	height: 100%;
	background-color: #8D98A7;
	color: antiquewhite;
}
hr {
	background-color: #8D98A7;
}

main {
	width: auto;
}

#content_holder {
	display: inline-block;
	width: 1100px;
	height: auto;
	margin-left: 300px;
}

#finalize {
	height: 32px;
	width: 80px;
	line-height: 0.5;
	margin-left: 20px;
	position: absolute;
	top: 4px;
	right: 0;
}

#quick {
	display: flex;
	flex-direction: row;
	width: 750px;
	position: relative;
}

#quick_post {
	margin-left: 20px;
	width: 537px;
}

#quick_post_label {
	width: 100px;
	position: relative;
	top: 7px;
	left: 25px;
}

#recent_questions {
	background-color: #343a40;
    height: 500px;
	margin-top: 20px;
	padding: 20px;
}	

#recent_questions header {
	width: 250px;
}
#recent_answers {
	background-color: #343a40;
    height: 500px;
	margin-top: 20px;
	padding: 20px;
}

#qQuestion {
	margin-top: 100px;
}

#qQuestion div button {
	height: 30px;
	line-height: 0.5;
	position: relative;
	bottom: 20px;
	left: 797px;
}

#user,
#password {
	width: 200px;
}

#user_container,
#pass_container {
	display: inline-block;
}

#pass_container {
	margin-left: 5px;
}

#homeLogin {
	display: flex;
}

#registerBtn {
	height: 38px;
	position: relative;
	top: 33px;
	margin-left: 10px;
}

.container {
	width: 100%;
	padding: 20px 15px 0 15px;
	margin-right: auto;
	margin-left: auto;
}

.author {
	width: 100% !important;
}