
.signup-title {
	text-align: center;
	display: block;
    margin-left: 25%;
	margin-right: 25%;
	margin-top: 50px;
}
.signup-form {
    padding: 5px;
    margin-left: 25%;
	margin-right: 25%;
	margin-top: 50px;
    width: 800px;
}  

.form-group {
	display: inline-block;
	width: 48%;
    padding: 20px 25px 20px 0px; 
}

.btn-primary {
	position: relative;
	top: 55%;
	left: 25%;
	background-color:#343a40;
}

.password {
	display: flex;
	height: 100px;
	width: 100%;
}

#password {
	width: 300px;
}

#password_conf {
	display: block;
	width: 300px;
}

#pass_conf {
	margin-left: 90px;
	width: 300px;
}