.navbar {
	height: 55px;
	position: relative;
}

.navbar .form-inline {
	position: absolute;
	right:15%;
}

.navbar .form-inline .form-control {
	width: 650px;
}

#search_glass {
	height: 32px;
	width: 32px;
}

#profile_blank {
	
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
}