<div class="container-fluid">
	<main>
		<div class="container" id="content_holder">
			<section id="question">
				<header id="question_short">
					<h3>Where have all my eggs gone?</h3>
				</header>
				<article id="content">
					<p>You can't fool me!</p>
				</article>
				<article id="stats">
					<p><span>Created by c0dezer019</span>, <span>Inquired date</span></p>
				</article>
			</section>
			<hr>
			<section id="answers">
				<header>
					<h3>Answers</h3>
				</header>
				<article>
					<!-- Loop through all the answers -->
				</article>
			</section>
		</div>
	</main>
</div>