<div class="container-fluid">
	<div class="container" id="content_holder">
		<main>
			<section>
				<form id="post" action="/create/inquisition" method="post">
					<div class="form-group">
						<div class="container" id="sum_container">
							<label for="summary">Summary: </label>
							<input class="form-control" type="text" name="summary" id="summary" aria-describedby="summary" required>
							<small id="summary_help" class="contentHelper form-text text-muted">
								The shorted version of your inquiry. 255 characters max.
							</small>
						</div>
						<div class="container" id="detail_container">
							<label for="details"> Details:</label>
							<textarea type="text" class="form-control" id="details"
								aria-describedby="detail_help" cols="25" rows="10" required></textarea>
							<small id="detail_help" class="contentHelper form-text text-muted">View our <a href="#">guidelines</a> to make
								a quality question.</small>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</section>
			<section id="preview">
				<div class="container">
					<header>
						<h5>Question preview</h5>
					</header>
					<article>
						<!-- Preview of formatted question goes here. -->
					</article>
				</div>
			</section>
			<hr>
			<section id="similar_questions">
				<header>
					<h3>Similar Questions</h3>
				</header>
				<article>
					<!-- Loop through the recent five posts -->
				</article>
			</section>
		</main>
	</div>
</div>