<div class="container-fluid">
	<main>
		<section id="editor">
			<div class=" form-group">
				<div id="summary_field">
					<label for="summary">Summary</label>
					<input type="text" name="summary" id="summary" class="form-control" placeholder="summary" aria-describedby="helpId" required>
					<small id="helpId" class="text-muted">Short version of your question. </small>
				</div>
				<div id="content_field">
					<label for="details">Details:</label>
					<textarea name="details" id="details" cols="30" rows="10" placeholder="Details go here."></textarea>
				</div>
			</div>
		</section>
	</main>
</div>